TestService/Service References/ServiceReference1/OdSyncService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/OdSyncService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/OdSyncService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatusDetailCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StatusDetail" nillable="true" type="tns:StatusDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusDetailCollection" nillable="true" type="tns:StatusDetailCollection" />
  <xs:complexType name="StatusDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="LocalPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StatusString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserSID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusDetail" nillable="true" type="tns:StatusDetail" />
</xs:schema>